<div *ngIf="pelicula" class="container main-container animated fadeIn fast">
    <div class="row">
        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen:true" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>

        <div class="col-md-7">
            <h2>{{ pelicula.original_title }}</h2>
            <div *ngIf="pelicula.overview">
                <hr>
                <p class="text-justify">{{ pelicula.overview }}</p>
                <hr>
            </div>
            <div *ngIf="pelicula.tagline">
                <h4>Frase celebre</h4>
                <p>{{ pelicula.tagline }}</p>
            </div>
            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/100</span>
                <br> Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
            </p>

            <button class="btn btn-outline-danger" [routerLink]="['/'+regresarA]">Regresar</button>
        </div>
    </div>
</div>